<h2>this is an authentication email from Hestagram</h2>
<% if(name){ %>

<h3>hello mr. <%= name %></h3>

<%}%>
<a href="http://ankit-intern.hestalabs.com/auth/<%= token %>" target="_blank">Click here to activate your account </a>