<h3> hello Mr. <strong style="color: blue"><%= name %></strong> This is password reset link from Hestagram </h3>
<p>Click on the link to reset your password</p>
<a href="http://localhost:3006/passwordReset/<%= to %>">password reset link</a>